<!-- Setup: Providers page -->
<div class="ehr-row clearfix">
    <div class="col-sm-12">
        <div class="row clearfix">
            <div class="col-sm-12">
                <button type="button" ng-if="sEditRefProvCtrl.savingForm == false"
                        ng-click="sEditRefProvCtrl.submitForm()">
                    <i class="fa fa-save"></i>
                    <strong>&nbsp;&nbsp;SAVE CHANGES&nbsp;&nbsp;</strong>
                </button>
                <button type="button" disabled ng-if="sEditRefProvCtrl.savingForm == true">
                    <strong>&nbsp;&nbsp;SAVING&nbsp;&nbsp;</strong>
                    <i class="fa fa-ellipsis-h"></i>
                </button>&nbsp;&nbsp;
                <button type="button" ng-click="sEditRefProvCtrl.cancelEdit()">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
        <br />

        <div class="ehr-row clearfix">

            <!-- First Column -->
            <div class="col-sm-6">

                <!-- Provider Info -->
                <div class="ehr-group-inner-border">
                    <div class="ehr-section-header">
                        <span>Provider Info</span>
                    </div>
                    <div class="ehr-row clearfix">
                        <div class="col-sm-6">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">First Name <span class="ehr-fld-required">*</span></label><br />
                                <div class="col-sm-12">
                                    <input type="text" class="ehr-fld-input" maxlength="60"
                                           ng-required="true"
                                           ng-model="sEditRefProvCtrl.entity.FirstName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">Last Name <span class="ehr-fld-required">*</span></label>
                                <div class="col-sm-12">
                                    <input type="text" class="ehr-fld-input" maxlength="60"
                                           ng-required="true"
                                           ng-model="sEditRefProvCtrl.entity.LastName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ehr-row clearfix">
                        <div class="col-sm-4">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">Title <span class="ehr-fld-required">*</span></label>
                                <div class="col-sm-12">
                                    <select class="ehr-fld-input" ng-model="sEditRefProvCtrl.entity.Credential">
                                        <option value="DC">DC - Doctor of Chiropractic</option>
                                        <option value="MD">MD - Doctor of Medicine</option>
                                        <option value="PT">PT - Physical Therapist</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">Suffix</label>
                                <div class="col-sm-12">
                                    <input type="text" class="ehr-fld-input" ng-model="sEditRefProvCtrl.entity.Suffix" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">Date of Birth</label>
                                <div class="col-sm-12">
                                    <input type="text" class="ehr-fld-input" ng-model="sEditRefProvCtrl.entity.DateOfBirth" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Second column -->
            <div class="col-sm-6">

                <!-- Credentials -->
                <div class="ehr-group-inner-border">
                    <div class="ehr-section-header">
                        <span>Credentials</span>
                    </div>
                    <div class="ehr-row clearfix">
                        <div class="col-sm-3">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">NPI <span class="ehr-fld-required">*</span></label><br />
                                <div class="col-sm-12">
                                    <input type="text" class="ehr-fld-input" maxlength="60"
                                           ng-required="true"
                                           ng-model="sEditRefProvCtrl.entity.NPI" />
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">SSN</label>
                                <div class="col-sm-12">
                                    <input type="text" class="ehr-fld-input" maxlength="60"
                                           ng-required="true"
                                           ng-model="sEditRefProvCtrl.entity.SSN" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <div class="row clearfix">
                                <label class="ehr-fld-label col-sm-12">License #</label>
                                <div class="col-sm-12">
                                    <input type="text" class="ehr-fld-input" maxlength="60"
                                           ng-required="true"
                                           ng-model="sEditRefProvCtrl.entity.License" />
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                    <!--
                    <div class="ehr-row clearfix">
                        <div class="col-sm-12">
                            <div class="row clearfix">
                                <label class="col-sm-12 ehr-fld-label">Taxonomy Code <span class="ehr-fld-required">*</span></label>
                                <div class="col-sm-12 ehr-fld-input-popup">
                                    <div class="ehr-fld-input-icon-btn">
                                        <input type="text" class="ehr-fld-input-disabled" maxlength="100" disabled
                                               ng-model="sEditRefProvCtrl.taxonomyName" />
                                        <div class="ehr-fld-icon">
                                            <button type="button" ng-click="sEditRefProvCtrl.openModalTaxonomy()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ehr-fld-input-popup-btn" ng-if="sEditRefProvCtrl.TaxonomyCode != null">
                                        <button type="button" ng-click="sEditRefProvCtrl.removeTaxonomyCode()">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>

            </div>
        </div>

    </div>
</div>


