<div class="container ehr-content">
    <div class="ehr-page-header row">
        <div class="col-sm-7">
            <span>SUBSCRIBER LIST</span>
        </div>
        <div class="col-sm-5 ehr-buttons-right text-right">
            <button class="btn btn-default ehr-btn" ui-sref="subscribers-edit({ id:-1 })" ui-sref-active="active">
                <span>NEW SUBSCRIBERS</span>
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="ehr-group clearfix">
        <div class="ehr-group-inner">
            <table id="ehr-claim-lines" class="ehr-table col-sm-12">
                <tr class="ehr-table-header">
                    <th class="col-sm-1-5">
                        Last Name
                    </th>
                    <th class="col-sm-1-5">
                        First Name
                    </th>
                    <th class="col-sm-4">
                        Primary Payer
                    </th>
                    <th class="col-sm-2-5">
                        Member ID
                    </th>
                    <th class="col-sm-2">
                        Phone (mobile)
                    </th>
                    <th class="col-sm-0-5">
                    </th>
                </tr>
                <tr class="ehr-table-row" ng-repeat="s in subCtrl.entities" ui-sref="subscribers-get({ id: s.Subscriber.Id })">
                    <td class="col-sm-1-5">
                        <span>{{s.LastName}}</span>
                    </td>
                    <td class="col-sm-1-5">
                        <span>{{s.FirstName}}</span>
                    </td>
                    <td class="col-sm-4">
                        <span>{{s.Subscriber.PrimaryPayer.Name}}</span>
                    </td>
                    <td class="col-sm-2-5">
                        <span>{{s.PrimaryMemberID}}</span>
                    </td>
                    <td class="col-sm-2">
                        <span>{{s.PhoneMobileFormatted}}</span>
                    </td>
                    <td class="col-sm-0-5 ehr-table-actions">
                        <a title="Edit this subscriber" ui-sref="subscribers-edit({ id: s.Subscriber.Id })">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a title="Delete this subscriber" href="#" ng-click="callApi('update', s, true)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
