<div class="modal-body">
    <div class="ehr-row clearfix">

        <div class="col-sm-5">
            <div class="ehr-row clearfix">
                <label class="ehr-fld-label col-sm-12">Start Date</label><br />
                <div class="col-sm-12">
                    <input type="text" class="ehr-fld-input ehr-fld-dt"
                           data-toggle="datepicker" />
                </div>
            </div>
            <div class="ehr-row clearfix">
                <label class="ehr-fld-label col-sm-12">End Date</label><br />
                <div class="col-sm-12">
                    <input type="text" class="ehr-fld-input ehr-fld-dt"
                           data-toggle="datepicker" />
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div>
                <button type="button">Day</button>
                <button type="button">Week</button>
                <button type="button">Month</button>
                <button type="button">Quarter</button>
                <button type="button">Year</button>
            </div>
            <br/>
            <table id="ehr-claim-lines" class="col-sm-12">
                <tr class="ehr-table-header">
                    <th class="col-sm-12">Date Filter</th>
                </tr>
                <tr class="ehr-table-row">
                    <td class="col-sm-12">last week</td>
                </tr>
                <tr class="ehr-table-row">
                    <td class="col-sm-12">this week</td>
                </tr>
                <tr class="ehr-table-row">
                    <td class="col-sm-12">two weeks ago</td>
                </tr>
            </table>
        </div>

    </div>
    <br />
    <div class="ehr-row clearfix">
    </div>
</div>
