<div class="container-fluid ehr-content">
    <div class="ehr-page-header row">
        <div class="col-sm-5">
            <span>CLAIMS</span>
        </div>
        <div class="col-sm-7 ehr-buttons-right text-right">
            <!--
            <button class="btn btn-default ehr-btn" ui-sref="claim-edit({ id:-1 })" ui-sref-active="active">
                <span>NEW CLAIM</span>
                <i class="fa fa-plus"></i>
            </button>
            -->
        </div>
    </div>

    <div class="ehr-group clearfix">
        <div class="ehr-group-inner">

            <div class="ehr-row clearfix">
                <div class="col-sm-2">
                    <div class="ehr-row clearfix">
                        <label class="ehr-fld-label col-sm-12">Last Name</label><br />
                        <div class="col-sm-12">
                            <input type="text" class="ehr-fld-input" maxlength="100"
                                   ng-model="clmListCtrl.lastName" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="ehr-fld-label col-sm-12">Date of Birth</label><br />
                    <div class="col-sm-8">
                        <input type="text" class="ehr-fld-input ehr-fld-dob" maxlength="100"
                               data-toggle="datepicker"
                               ng-required="true"
                               ng-model="clmListCtrl.dateOfBirth" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="ehr-fld-label col-sm-12">&nbsp;</label><br />
                    <button type="button" ng-click="clmListCtrl.searchList()"
                            ng-if="clmListCtrl.searching == false">
                        Search
                        <i class="fa fa-search"></i>
                    </button>
                    <button type="button" disabled
                            ng-if="clmListCtrl.searching == true">
                        Searching
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                </div>
            </div>

            <!-- Top Pager Controls -->
            <div class="row clearfix" ng-if="clmListCtrl.searched">
                <div class="col-sm-4">
                    <strong>Found claims for {{clmListCtrl.resultsCount}} subscribers</strong>&nbsp;
                </div>
                <div class="col-sm-8 text-right" ng-if="clmListCtrl.searching == false">
                    <span ng-if="clmListCtrl.resultsCount > 0"><i>Showing results {{clmListCtrl.startIndex}} - {{clmListCtrl.endIndex}}</i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="ehr-btn-right-action"
                            ng-if="clmListCtrl.searching == false && clmListCtrl.pageNum > 1"
                            ng-click="clmListCtrl.searchList(-1)">
                        &lt; Previous
                    </button>
                    <button type="button" class="ehr-btn-right-action"
                            ng-if="clmListCtrl.searching == false && clmListCtrl.endIndex < clmListCtrl.resultsCount"
                            ng-click="clmListCtrl.searchList(1)">
                        Next &gt;
                    </button>
                </div>
                <div class="col-sm-8 text-right" ng-if="clmListCtrl.searching == true">
                    <img src="/ehr/images/js_preloader.gif" />&nbsp;&nbsp;
                    <strong>Searching...</strong>
                </div>
            </div>

            <table id="ehr-claim-lines" class="ehr-table col-sm-12">
                <tr class="ehr-table-header">
                    <th class="col-sm-2">
                        Last Name
                    </th>
                    <th class="col-sm-2">
                        First Name
                    </th>
                    <th class="col-sm-1-5">
                        Date of Birth
                    </th>
                    <th class="col-sm-6"></th>
                    <!--
            <th class="col-sm-2-5">
                Provider
            </th>
            <th class="col-sm-2-5">
                Facility
            </th>
            <th class="col-sm-1">
                Amount ($)
            </th>
            -->
                    <th class="col-sm-0-5">
                    </th>
                </tr>

                <!-- Search loading -->
                <tr class="ehr-table-row" ng-if="clmListCtrl.searching == true">
                    <td colspan="7">
                        <img src="/ehr/images/js_preloader.gif" />&nbsp;&nbsp;
                        <strong>Searching for claims...</strong>
                    </td>
                </tr>

                <tr class="ehr-table-row" ui-sref="claim-edit({ subscriberId: c.PrimarySubscriberId, claimId: c.Id })"
                    ng-if="clmListCtrl.searching == false"
                    ng-repeat="c in clmListCtrl.entities">
                    <td class="col-sm-2">
                        <span>{{c.LastName}}</span>
                    </td>
                    <td class="col-sm-2">
                        <span>{{c.FirstName}}</span>
                    </td>
                    <td class="col-sm-1-5">
                        <span>{{c.DateOfBirth}}</span>
                    </td>
                    <td class="col-sm-6">&nbsp;</td>
                    <!--
            <td class="col-sm-2-5">
                <span>{{c.Provider}}</span>
            </td>
            <td class="col-sm-2-5">
                <span>{{c.Facility}}</span>
            </td>
            <td class="col-sm-1">
                <span>{{c.AmountTotal}}</span>
            </td>
            -->
                    <td class="col-sm-0-5 ehr-table-actions">
                        <a href="#" title="Edit this claim"
                           ui-sref="claim-edit({ subscriberId: c.PrimarySubscriberId, claimId: c.Id })">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                        <a title="Delete this claim" href="#">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </table>

            <!-- Bottom Pager Controls -->
            <div class="row clearfix" ng-if="clmListCtrl.searched">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8 text-right" ng-if="clmListCtrl.searching == false">
                    <span ng-if="clmListCtrl.resultsCount > 0"><i>Showing results {{clmListCtrl.startIndex}} - {{clmListCtrl.endIndex}}</i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="ehr-btn-right-action"
                            ng-if="clmListCtrl.searching == false && clmListCtrl.pageNum > 1"
                            ng-click="clmListCtrl.searchList(-1)">
                        &lt; Previous
                    </button>
                    <button type="button" class="ehr-btn-right-action"
                            ng-if="clmListCtrl.searching == false && clmListCtrl.endIndex < clmListCtrl.resultsCount"
                            ng-click="clmListCtrl.searchList(1)">
                        Next &gt;
                    </button>
                </div>
                <div class="col-sm-8 text-right" ng-if="clmListCtrl.searching == true">
                    <img src="/ehr/images/js_preloader.gif" />&nbsp;&nbsp;
                    <strong>Searching...</strong>
                </div>
            </div>
        </div>
    </div>
</div>
